.top {
    display:flex;
    justify-content: space-between;
}

img {
    width:100%;
    
}

#pills-tab {
    display: flex;
    justify-content: center;
}
.main {
    margin-top: 50px;
}

#pills-profile{
    margin:auto;
    width:50%;
}





